.conteiner {
    display: flex;
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #132e4c;    
}

.central {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.change {
    display: inline-block;
    position: relative;
}

.change .img-top{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.change:hover .img-top {
    display: inline;
} 

a {
    color:#3D3D3D;
    border: 2px;
    font-family: sans-serif;
    text-decoration: none;
}

.botao1 {
    width: 100px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to left, #FDFDFD, #DEDEDE);
    border-radius: 12px;   
    font-size: small; 
}